<div class="auth">
    <div class="container-xl">
        <form [formGroup]="form" (ngSubmit)="login()" class="form">
            <div class="text">
                Iniciar sesión
                <p>Finanzas personales</p>
            </div>

            <div class="form-floating form-floating-custom mb-3">
                <input formControlName="email" type="text" class="form-control" id="input-email" placeholder="Email">
                <label for="input-email">Email</label>

                @if (haveErrors('email')) {
                    <div class="div-error">
                        @if (hasError('email', 'email')) {
                            <div>*ingresa un email válido</div>
                        } @else if (hasError('email', 'required')) {
                            <div>*requerido</div>
                        }
                    </div>
                }
            </div>

            <div class="form-floating form-floating-custom form-password auth-pass-inputgroup mb-3 position-relative">
                <input formControlName="password" type="password" class="form-control" id="password-input" placeholder="Password">
                <button (click)="togglePasswordVisibility()" type="button" class="btn btn-link position-absolute h-100 end-0 top-0" id="password-addon">
                    <i class="icon-password fa-regular fa-eye"></i>
                </button>
                <label for="password-input">Password</label>

                @if (haveErrors('password')) {
                    <div class="div-error">
                        @if (hasError('password', 'minlength')) {
                            <div>*mínimo 8 caracteres</div>
                        } @else if (hasError('password', 'required')) {
                            <div>*requerido</div>
                        }
                    </div>
                }
            </div>

            <div class="mt-4">
                <button class="btn btn-dark shadow-none w-100" type="submit">Entrar</button>
            </div>
            <hr>
            <div class="mt-3 text-center">
                <p class="mb-0 text-muted">¿No tienes cuenta?<a (click)="signup()" class="fw-bold ms-1">Regístrate</a></p>
            </div>
        </form>
    </div>
</div>

<app-loading [show]="maskLoad()"></app-loading>
